.mainHeader{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a70000;
    z-index: 10;
}
.mainHeader h1{
    color: white;
}
.mainHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {
    .mainHeader {
      width: 100%;
      font-size: 10px;
    }
  }
   @media (min-width: 360px) {
    .mainHeader {
        width: 100%;
        font-size: 10px;

    }
  } 
  @media (min-width: 768px) {
    .mainHeader {
        width: 100%;
        font-size: 20px;

    }
  }

  @media (max-width : 315px) {
    .mainHeader {
        width: 100%;
        font-size: 8px;
        padding: 0;
        text-align: center;
        padding: 0 2%;

      }

  }