.products h2 {
    color: white;
    margin: 6rem auto;
    text-align: center;
    text-transform: uppercase;
    font-family:-apple-system;
    font-size:26px;
    letter-spacing:2.08px;
    line-height:28.6px;
    text-align:center;
    text-transform:uppercase;
  }
  
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }